{% extends 'base.html' %}
{% load static %}
{% block title %}Habilidad - {{ ability.name }}{% endblock %}

{% block content %}
    {% block extra_css %}
         <link rel="stylesheet" href="{% static 'ability_detail.css' %}">
    {% endblock %}

    <h1>{{ ability.name }}</h1>
    <p>{{ ability.effect }}</p>

    <h2>Pokémon que tienen esta habilidad</h2>
    <ul class="pokemon-list">
        {% for pokemon in pokemon_list %}
            <li class="pokemon">
                <a href="{% url 'pokemon:pokemon_detail' pokemon.id %}" class="pokemon-link">
                    <img src="{{ pokemon.official_artwork_default }}" alt="{{ pokemon.name }}">
                    <p>{{ pokemon.name }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}