{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Infokédex</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <h1>Infokédex - tu Pokédex de confianza</h1>

    <!-- Buscador -->
    <div style="position: relative;">
        <input type="text" id="search-input" placeholder="Busca un Pokémon..." onkeyup="search(this.value)" autocomplete="off"/>
        <div id="search-results" class="search-results hidden"></div>
    </div>

    <h2>Explorar algunos Pokémon</h2>
    <p>En este apartado, podréis observar algunos de los Pokémon que existen. Haz click en un Pokémon para ver sus detalles.</p>
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        {% for p in pokemon %}
            <img src="{{ p.official_artwork_default }}" alt="{{ p.name }}" width="150" />
            <a href="{% url 'pokemon:pokemon_detail' p.id %}"><strong>{{ p.name }}</strong></a>
            <ul>
                {% for pt in p.types.all %}
                    <img src="{{ pt.type.named_icon.url }}" alt="{{ pt.type.name }}" width="90">
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>
