{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Infokédex</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <h1>Infokédex - tu Pokédex de confianza</h1>

    <!-- Buscador -->
    <div style="position: relative;">
        <input
            type="text"
            id="search-input"
            placeholder="Busca un Pokémon..."
            onkeyup="search(this.value)"
            autocomplete="off"
        />
        <div id="search-results" class="search-results hidden"></div>
    </div>

    <h2>Explorar Pokémon</h2>
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        {% for p in pokemones %}
            <img src="{{ p.official_artwork_default }}" alt="{{ p.name }}" width="150" />
            <a href="{% url 'pokemon:pokemon_detail' p.id %}"><strong>{{ p.name }}</strong></a>
            <p>Tipos:</p>
            <ul>
                {% for type in p.types.all %}
                    <img src="{{ type.named_icons }}" alt="{{ type.name }}">
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>
